body {
    font-family: Arial, sans-serif;
    background-color: #f5c62d;
}

.navbar {
    margin-bottom: 20px;
    background-color: #ff8c00;
    color: #f09c01;
}

.navbar a.navbar-brand {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.navbar a.navbar-brand:hover {
    color: #ffdd99;
}

.navbar .nav-link {
    color: #000000;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar .nav-link.active {
    background-color: #ffa64d;
    color: #000000;
}

.navbar .nav-link:hover {
    background-color: #ffdd99;
    color: #000000;
}

h1 {
    color: #ff8c00;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.card {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

h3 {
    margin-top: 20px;
}

.text-success {
    color: #28a745 !important;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-left: 4px solid #007bff;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item .text-danger {
    font-weight: bold;
    color: #dc3545;
}

.text-muted {
    font-style: italic;
    color: #6c757d !important;
}

footer {
    border-top: 2px solid #ff8c00;
    background-color: #fff3e0;
    padding: 20px 0;
}

footer h5 {
    color: #ff8c00;
    font-weight: bold;
}

footer ul li a {
    color: #ff8c00;
    text-decoration: none;
}

footer ul li a:hover {
    color: #ffa64d;
    text-decoration: underline;
}

footer .text-center {
    background-color: #ff8c00;
    color: #ffffff;
    padding: 10px 0;
    margin-top: 20px;
}

.text-primary {
    color: #000000 !important;
}

.text-center {
    text-align: center !important;
}
